/* === Geral === */

h1, h2, h3, h4, h5, h6 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 500;
  font-style: normal;
}

h1{
  font-size: 6vw;
}

h2{
  font-size: 5.5vw;
}

h3{
  font-size: 5vw;
}

h4{
  font-size: 4.5vw;
}

h5{
  font-size: 4vw;
}

h6{
  font-size: 3.5vw;
}

p {
  font-family: "Libre Baskerville", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 3vw;
}

header {
  background-color: #B45A2D;
  display: flex;
  justify-content: space-between;
  padding: 1.5vw;
}

header nav ul {
  display: flex;
  gap: 16px;
}

header a {
  color: black;
}

header.ft-lil h1 {
  padding: 3vw 0 3vw
}

header.header div{
display: flex;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Empurra o footer para baixo preenchendo o espaço */
}

section.explicacao {
  text-align: left;
  background-color: #F0B478; 
  background-size: cover;
  padding: 1vw;
  margin: 2vw;
  border-radius: 2vw;
}

section.explicacao div {
  text-align: left;
  padding: 1vw;
  margin: 2vw;
  border-radius: 2vw;
}

footer {
  background-color: #F0C8A0;
  text-align: left;
  padding: 20px;
}

footer h2{
  padding-top: 2vw;
}

footer div{
  display: flex;
  justify-content: space-between;
}


/* === Início === */

body.inicio section{
    background-color: #F6E3CF;
}

section.banner{
    display: flex;
    padding: 2vw 2vw;
    gap: 4vw;padding: 2vw 2vw;
}

section.banner h1{
    padding: 3vw 0 3vw 0;
}

section.banner p{
    padding: 3vw 0 3vw 0;    
}

section.piramide h2{
    text-align: center;
    padding: 3vw 0 3vw 0;    

}



/* === Imperador === */

body.imperador {
  text-align: center;
  background-color: #F0B4789F;
  background-image: url("/img/julio acabate (pássaro).jpg");
  background-size: cover;
  background-blend-mode: screen;
}

body.imperador main{
  margin: 2vw;
}

body.imperador h1 {
  text-align: center;
  background-color: #F0B478;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}

body.imperador img {
  width: 50%;
  height: auto;
  border-radius: 6vw;
  padding: 2vw;
}

body.imperador section.explicacao{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}



/* === Senadores === */

body.senadores {
  text-align: center;
  background-color: #F0B4787F;
  background-image: url("/img/senadores.jpg");
  background-size: cover;
  background-blend-mode: screen;
}

body.senadores main{
  margin: 2vw;
}

body.senadores h1 {
  text-align: center;
  background-color: #F0B478;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}

body.senadores img {
  width: 50%;
  height: auto;
  border-radius: 6vw;
  padding: 2vw;
}

body.senadores section.explicacao{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}



/* === Patricios === */

body.patricios {
  text-align: center;
  background-color: #F0B4789F;
  background-image: url("/img/patricio.jpg");
  background-size: cover;
  background-blend-mode: screen;
}

body.patricios main{
  margin: 2vw;
}

body.patricios h1 {
  text-align: center;
  background-color: #F0B478;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}

body.patricios img {
  width: 50%;
  height: auto;
  border-radius: 6vw;
  padding: 2vw;
}

body.patricios section.explicacao{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}



/* === Plebe === */

body.plebe {
  text-align: center;
  background-color: #F0B4785F;
  background-image: url("/img/plebe.png");
  background-size: cover;
  background-blend-mode: screen;
}

body.plebe main{
  margin: 2vw;
}

body.plebe h1 {
  text-align: center;
  background-color: #F0B478;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}

body.plebe img {
  width: 50%;
  height: auto;
  border-radius: 6vw;
  padding: 2vw;
}

body.plebe section.explicacao{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}



/* === Homens Livres === */

body.homens-livres {
  text-align: center;
  background-color: #F0B4785F;
  background-image: url("/img/.jpg");
  background-size: cover;
  background-blend-mode: screen;
}

body.homens-livres main{
  margin: 2vw;
}

body.homens-livres h1 {
  text-align: center;
  background-color: #F0B478;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}

body.homens-livres img {
  width: 50%;
  height: auto;
  border-radius: 6vw;
  padding: 2vw;
}

body.homens-livres section.explicacao{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}



/* === Libertos === */

body.libertos {
  text-align: center;
  background-color: #F0B4787F;
  background-image: url("/img/liberto.jpg");
  background-size: cover;
  background-blend-mode: screen;
}

body.libertos main{
  margin: 2vw;
}

body.libertos h1 {
  text-align: center;
  background-color: #F0B478;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}

body.libertos img {
  width: 50%;
  height: auto;
  border-radius: 6vw;
  padding: 2vw;
}

body.libertos section.explicacao{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}



/* === Escravos === */

body.escravos {
  text-align: center;
  background-color: #F0B4787F;
  background-image: url("/img/escravos.jpg");
  background-size: cover;
  background-blend-mode: screen;
}

body.homens-livres main{
  margin: 2vw;
}

body.escravos h1 {
  text-align: center;
  background-color: #F0B478;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}

body.escravos img {
  width: 50%;
  height: auto;
  border-radius: 6vw;
  padding: 2vw;
}

body.escravos section.explicacao{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}



/* === Quiz === */

body.quiz{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img.quiz{
    background: image() ;
    size: 100%;
}

.quiz {
  text-align: center;
  background-color: #F0B478; /*filtro*/
  background-image: url("imgs/A4 1.svg");
  background-size: cover;
}

section.quiz img{
  padding: 0 3vw 5vw 3vw ;
}

section.quiz h2{
  padding: 3vw 0 5vw 0;
}

section.quiz{
    background-color: #F0B478;
    padding: 5vw 0 5vw 0;
}

section.perguntas{
    background-color: #F0B478;
}

section.quiz h1{
    padding: 5vw 0 5vw 0;
    text-align: center;
}

section.perguntas div{
    display: flex;
    padding: 6vw 5vw 6vw 5vw;

}

section.perguntas div button{
    background-color: #A8600F;
    margin: 1vw ;
    border-radius: 10vw;
    color: white;
    padding: 2vw 18vw 2vw 18vw ;
    flex-wrap: wrap;

}

section.perguntas p.pergunta{
    text-align: center;
}

section.perguntas p{
    padding: 0vw 18vw;
}



/* === Criadores === */

body.criadores{
  background-color: #F6E3CF;
}

body.criadores h1{
  padding: 5vw 0;
  text-align: center;
}

body.criadores li{
  display: flex;
  gap: 1.5vw;
}

body.criadores img{
  height: 30vw;
  padding: 1.5vw 0;
}

body.criadores section{
  padding: 3vw;
}