/* === Geral === */

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 3.75vw;
}

h3 {
  font-size: 3.5vw;
}

h4 {
  font-size: 3.25vw;
}

h5 {
  font-size: 3vw;
}

h6 {
  font-size: 2.75vw;
}

p {
  font-family: "Libre Baskerville", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2vw;
}

a {
  text-decoration: none;
}

header {
  background-color: #a8600f;
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  align-items: center;
}

header img {
  width: 5vw;
}

header nav ul {
  display: flex;
  gap: 1.6vw;
}

header a {
  color: black;
}

header div {
  display: flex;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Empurra o footer para baixo preenchendo o espaço */
}

section.banner-assuntos div {
  width: 100%;
  height: 50vw;
  margin: 5vw 0;
  border-radius: 2vw;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 1vw 2vw 1vw #0000009f;
}

section.explicacao {
  text-align: left;
  background-color: #f0c8a0;
  background-size: cover;
  padding: 1vw;
  border-radius: 2vw;
  box-shadow: 0 1vw 2vw 1vw #0000009f;
}

section.explicacao div {
  text-align: left;
  padding: 1vw;
  border-radius: 2vw;
}

section.estudo-plus {
  text-align: left;
  background-color: #f0c8a0;
  background-size: cover;
  margin-top: 5vw;
  padding: 1vw;
  border-radius: 2vw;
  box-shadow: 0 1vw 2vw 1vw #0000009f;
}

section.estudo-plus h2{
  text-align: center;
}

section.estudo-plus li{
  gap: 1.5vw;
  padding: 1.5vw;
}

section.estudo-plus li a{
  display: flex;
  gap: 1.5vw;
  color: #000000;
  text-decoration: none;
}

section.estudo-plus li a:hover{
  color: #00f;
}

section.estudo-plus li img{
  width: 30vw;
}

footer {
  background-color: #f0b478;
  text-align: left;
  padding: 2vw;
}

footer img{
  width: 10vw;
  padding-right: 1.5vw;
}

footer h2 {
  padding-top: 2vw;
}

footer div {
  padding-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* === Início === */

body.inicio section {
  background-color: #f6e3cf;
}

body.inicio section.banner {
  display: flex;
  padding: 2vw 2vw;
  gap: 4vw;
  padding: 5vw 5vw 0 5vw;
  align-items: center;
}

body.inicio section.banner img {
  height: 40vw;
  border-radius: 2vw;
}

body.inicio section.banner h1 {
  padding: 3vw 0 3vw 0;
}

body.inicio section.banner p {
  padding: 3vw 0 3vw 0;
}

body.inicio section.piramide{
  text-align: center;
  padding: 5vw 5vw 0 5vw;
}

body.inicio section.piramide h2 {
  text-align: center;
  padding: 5vw 0;
}

body.inicio section.piramide img {
  height: 75vw;
}

body.inicio section.assuntos {
  padding: 0 5vw 5vw 5vw;
  text-align: center;
}

body.inicio section.assuntos h2{
  padding-bottom: 5vw;
}

body.inicio section.assuntos div ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
}

body.inicio section.assuntos div ul li {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color;
  border-radius: 2vw;
  box-shadow: 0 1vw 2vw 1vw #0000009f;
}

body.inicio section.assuntos div ul li a h6 {
  color: #ffffff;
  padding: 50% 0;
  line-height: 0%;
}

body.inicio section.assuntos div ul li.imperadores {
  background-image: url(../img/planos-de-fundo/julio\ acabate\ \(pássaro\).png);
  background-position: 0;
  background-color: #0000005f;
}

body.inicio section.assuntos div ul li.senadores {
  background-image: url(../img/planos-de-fundo/senadores.png);
  background-position: 0;
  background-color: #0000005f;
}

body.inicio section.assuntos div ul li.patricios {
  background-image: url(../img/planos-de-fundo/patricio.png);
  background-position: 0;
  background-color: #0000005f;
}

body.inicio section.assuntos div ul li.plebe {
  background-image: url(../img/planos-de-fundo/plebe.png);
  background-position: 0;
  background-color: #0000005f;
}

body.inicio section.assuntos div ul li.homens-livres {
  background-image: url(../img/planos-de-fundo/homens-livres.jpg);
  background-position: 50% 0;
  background-color: #0000005f;
}

body.inicio section.assuntos div ul li.libertos {
  background-image: url(../img/planos-de-fundo/liberto.png);
  background-position: 0;
  background-color: #0000005f;
}

body.inicio section.assuntos div ul li.escravos {
  background-image: url(../img/planos-de-fundo/escravos.jpg);
  background-position: 0;
  background-color: #0000007f;
}

body.inicio section.assuntos div ul li.quiz {
  background-image: url(../img/planos-de-fundo/filosofo\ \(quiz\).png);
  background-position: 0;
  background-color: #0000005f;
}

/* === Imperador === */

body.imperador {
  text-align: center;
  background-color: #f0b4789f;
  background-image: url("../img/planos-de-fundo/julio\ acabate\ \(pássaro\).png");
  background-size: cover;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 100%;
}

body.imperador main {
  margin: 5vw;
}

body.imperador h1 {
  text-align: center;
  background-color: #f0c8a0;
  padding: 2vw;
  border-radius: 2vw;
  box-shadow: 0 1vw 2vw 1vw #0000009f;
}

body.imperador section.banner-assuntos div {
  background-image: url("../img/julio\ acabate\ \(pássaro\).jpg");
  background-position: 0 50%;
}

body.imperador section.explicacao {
  text-align: center;
  background-size: cover;
  padding: 2vw;
  border-radius: 2vw;
}

/* === Senadores === */

body.senadores {
  text-align: center;
  background-color: #f0b4787f;
  background-image: url("../img/planos-de-fundo/senadores.png");
  background-size: cover;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 100%;
}

body.senadores main {
  margin: 5vw;
}

body.senadores h1 {
  text-align: center;
  background-color: #f0c8a0;
  padding: 2vw;
  border-radius: 2vw;
  box-shadow: 0 1vw 2vw 1vw #0000009f;
}

body.senadores section.banner-assuntos div {
  background-image: url("../img/senadores.jpg");
  background-position: 0;
}

body.senadores section.explicacao {
  text-align: center;
  background-size: cover;
  padding: 2vw;
  border-radius: 2vw;
}

/* === Patricios === */

body.patricios {
  text-align: center;
  background-color: #f0b4789f;
  background-image: url("../img/planos-de-fundo/patricio.png");
  background-size: cover;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 100%;
}

body.patricios main {
  margin: 5vw;
}

body.patricios h1 {
  text-align: center;
  background-color: #f0c8a0;
  padding: 2vw;
  border-radius: 2vw;
  box-shadow: 0 1vw 2vw 1vw #0000009f;
}

body.patricios section.banner-assuntos div {
  background-image: url("../img/patricio.jpg");
  background-position: 0 10%;
}

body.patricios section.explicacao {
  text-align: center;
  background-size: cover;
  padding: 2vw;
  border-radius: 2vw;
}

/* === Plebe === */

body.plebe {
  text-align: center;
  background-color: #f0b4785f;
  background-image: url("../img/planos-de-fundo/plebe.png");
  background-size: cover;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 100%;
}

body.plebe main {
  margin: 5vw;
}

body.plebe h1 {
  text-align: center;
  background-color: #f0c8a0;
  padding: 2vw;
  border-radius: 2vw;
  box-shadow: 0 1vw 2vw 1vw #0000009f;
}

body.plebe section.banner-assuntos div {
  background-image: url("../img/plebe.png");
  background-position: 0 50%;
}

body.plebe section.explicacao {
  text-align: center;
  background-size: cover;
  padding: 2vw;
  border-radius: 2vw;
}

/* === Homens Livres === */

body.homens-livres {
  text-align: center;
  background-color: #f0b4785f;
  background-image: url("../img/planos-de-fundo/homens-livres.jpg");
  background-size: cover;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 100%;
}

body.homens-livres main {
  margin: 5vw;
}

body.homens-livres h1 {
  text-align: center;
  background-color: #f0c8a0;
  padding: 2vw;
  border-radius: 2vw;
  box-shadow: 0 1vw 2vw 1vw #0000009f;
}

body.homens-livres section.banner-assuntos div {
  background-image: url("../img/homens-livres.png");
  background-position: 0 50%;
}

body.homens-livres section.explicacao {
  text-align: center;
  background-size: cover;
  padding: 2vw;
  border-radius: 2vw;
}

/* === Libertos === */

body.libertos {
  text-align: center;
  background-color: #f0b4787f;
  background-image: url("../img/planos-de-fundo/liberto.png");
  background-size: cover;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 100%;
}

body.libertos main {
  margin: 5vw;
}

body.libertos h1 {
  text-align: center;
  background-color: #f0c8a0;
  padding: 2vw;
  border-radius: 2vw;
  box-shadow: 0 1vw 2vw 1vw #0000009f;
}

body.libertos section.banner-assuntos div {
  background-image: url("../img/liberto.jpg");
  background-position: 0 10%;
}

body.libertos section.explicacao {
  text-align: center;
  background-size: cover;
  padding: 2vw;
  border-radius: 2vw;
}

/* === Escravos === */

body.escravos {
  text-align: center;
  background-color: #f0b4787f;
  background-image: url("../img/planos-de-fundo/escravos.png");
  background-size: cover;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 100%;
}

body.escravos main {
  margin: 5vw;
}

body.escravos h1 {
  text-align: center;
  background-color: #f0c8a0;
  padding: 2vw;
  border-radius: 2vw;
  box-shadow: 0 1vw 2vw 1vw #0000009f;
}

body.escravos section.banner-assuntos div {
  background-image: url("../img/escravos.jpg");
  background-position: 0 50%;
}

body.escravos section.explicacao {
  text-align: center;
  background-size: cover;
  padding: 2vw;
  border-radius: 2vw;
}

/* === Quiz === */

body.quiz {
  text-align: center;
  background-color: #f0b4789f;
  background-image: url("../img/planos-de-fundo/filosofo\ \(quiz\).png");
  background-size: cover;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 100%;
}

body.quiz main {
  margin: 5vw;
}

body.quiz h1 {
  text-align: center;
  background-color: #f0c8a0;
  padding: 2vw;
  border-radius: 2vw;
  box-shadow: 0 1vw 2vw 1vw #0000009f;
}

body.quiz section.banner-assuntos div {
  background-image: url("../img/planos-de-fundo/filosofo\ \(quiz\).png");
  background-position: 0 50%;
}

body.quiz section.banner-assuntos p {
  padding-bottom: 5vw;
}

body.quiz section.quiz2 {
  text-align: center;
  background-size: cover;
  border-radius: 2vw;
  display: inline-block;
  background-color: #f0c8a0;
  box-shadow: 0 1vw 2vw 1vw #0000009f;
}

body.quiz form {
  padding: 4vw;
}

.card-pergunta {
  padding: 2vw 0;
  border-radius: 2vw;
  margin-bottom: 2vw;
}

.enunciado {
  font-weight: bold;
  margin-bottom: 2vw;
  color: #000000;
  font-size: 2vw;
}

.alternativas-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.opcao-label {
  display: flex;
  align-items: center;
  color: white;
  font-size: 2vw;
  background-color: #a8600f;
  gap: 2vw;
  padding: 2vw;
  border-radius: 20vw;
  cursor: pointer;
  transition: background 0.25s;
}

.opcao-label:hover {
  color: #000000;
  background-color: #f0c8a0;
  border: #a8600f solid 0.5vw;
}

button#btn-enviar {
  text-align: center;
  padding: 2vw;
  background-color: #a8600f;
  color: white;
  font-size: 2vw;
  border: none;
  border-radius: 8vw;
  cursor: pointer;
  width: 100%;
  transition: background 0.25s;
}

button#btn-enviar:hover {
  color: #000000;
  background-color: #f0c8a0;
  border: #a8600f solid 0.5vw;
}

#resultado {
  margin-bottom: 5vw;
  text-align: center;
  font-size: 2vw;
}

/* === Criadores === */

body.criadores {
  background-color: #f6e3cf;
}

body.criadores h1 {
  padding: 5vw 0;
  text-align: center;
}

body.criadores main li {
  display: flex;
  gap: 1.5vw;
}

body.criadores main img {
  width: 30vw;
  height: 30vw;
  padding: 1.5vw 0;
}

body.criadores main section.criadores ul li a img {
  border-radius: 2vw;
}

body.criadores section {
  padding: 3vw;
}

/* === Fontes === */

body.fontes {
  background-color: #f6e3cf;
}

body.fontes h1 {
  padding: 5vw 0;
  text-align: center;
}

body.fontes main li {
  display: flex;
  gap: 1.5vw;
}

body.fontes main img {
  width: 30vw;
  height: 30vw;
  padding: 1.5vw 0;
}

body.fontes section {
  padding: 3vw;
}
