/* === Geral === */

html{
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 500;
  font-style: normal;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2.75rem;
}

h3{
  font-size: 2.5rem;
}

h4{
  font-size: 2.25rem;
}

h5{
  font-size: 2rem;
}

h6{
  font-size: 1.75rem;
}

p {
  font-family: "Libre Baskerville", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.5rem;
}

header {
  background-color: #B45A2D;
  display: flex;
  justify-content: space-between;
  padding: 1.5vw;
}

header nav ul {
  display: flex;
  gap: 16px;
}

header a {
  color: black;
}

header.ft-lil h1 {
  padding: 3vw 0 3vw
}

header.header div{
display: flex;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Empurra o footer para baixo preenchendo o espaço */
}

section.explicacao {
  text-align: left;
  background-color: #F0B478; 
  background-size: cover;
  padding: 1vw;
  margin: 2vw;
  border-radius: 2vw;
}

section.explicacao div {
  text-align: left;
  padding: 1vw;
  margin: 2vw;
  border-radius: 2vw;
}

footer {
  background-color: #F0C8A0;
  text-align: left;
  padding: 20px;
}

footer h2{
  padding-top: 2vw;
}

footer div{
  display: flex;
  justify-content: space-between;
}


/* === Início === */

body.inicio section{
    background-color: #F6E3CF;
}

body.inicio section.banner{
    display: flex;
    padding: 2vw 2vw;
    gap: 4vw;padding: 2vw 2vw;
}

body.inicio section.banner img{
  height: 40vw;
}

body.inicio section.banner h1{
    padding: 3vw 0 3vw 0;
}

body.inicio section.banner p{
    padding: 3vw 0 3vw 0;    
}

body.inicio section.piramide h2{
    text-align: center;
    padding: 3vw 0 3vw 0;    

}

body.inicio section.assuntos{
  text-align: center;
  align-items: center;
}

body.inicio section.assuntos img{
  width: 35vw ;
}

body.inicio section.assuntos div ul{
  padding: 11vw;
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
}


/* === Imperador === */

body.imperador {
  text-align: center;
  background-color: #F0B4789F;
  background-image: url("/img/julio acabate (pássaro).jpg");
  background-size: cover;
  background-blend-mode: screen;
}

body.imperador main{
  margin: 2vw;
}

body.imperador h1 {
  text-align: center;
  background-color: #F0B478;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}

body.imperador img {
  width: 50%;
  height: auto;
  border-radius: 6vw;
  padding: 2vw;
}

body.imperador section.explicacao{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}



/* === Senadores === */

body.senadores {
  text-align: center;
  background-color: #F0B4787F;
  background-image: url("/img/senadores.jpg");
  background-size: cover;
  background-blend-mode: screen;
}

body.senadores main{
  margin: 2vw;
}

body.senadores h1 {
  text-align: center;
  background-color: #F0B478;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}

body.senadores img {
  width: 50%;
  height: auto;
  border-radius: 6vw;
  padding: 2vw;
}

body.senadores section.explicacao{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}



/* === Patricios === */

body.patricios {
  text-align: center;
  background-color: #F0B4789F;
  background-image: url("/img/patricio.jpg");
  background-size: cover;
  background-blend-mode: screen;
}

body.patricios main{
  margin: 2vw;
}

body.patricios h1 {
  text-align: center;
  background-color: #F0B478;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}

body.patricios img {
  width: 50%;
  height: auto;
  border-radius: 6vw;
  padding: 2vw;
}

body.patricios section.explicacao{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}



/* === Plebe === */

body.plebe {
  text-align: center;
  background-color: #F0B4785F;
  background-image: url("/img/plebe.png");
  background-size: cover;
  background-blend-mode: screen;
}

body.plebe main{
  margin: 2vw;
}

body.plebe h1 {
  text-align: center;
  background-color: #F0B478;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}

body.plebe img {
  width: 50%;
  height: auto;
  border-radius: 6vw;
  padding: 2vw;
}

body.plebe section.explicacao{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}



/* === Homens Livres === */

body.homens-livres {
  text-align: center;
  background-color: #F0B4785F;
  background-image: url("/img/.jpg");
  background-size: cover;
  background-blend-mode: screen;
}

body.homens-livres main{
  margin: 2vw;
}

body.homens-livres h1 {
  text-align: center;
  background-color: #F0B478;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}

body.homens-livres img {
  width: 50%;
  height: auto;
  border-radius: 6vw;
  padding: 2vw;
}

body.homens-livres section.explicacao{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}



/* === Libertos === */

body.libertos {
  text-align: center;
  background-color: #F0B4787F;
  background-image: url("/img/liberto.jpg");
  background-size: cover;
  background-blend-mode: screen;
}

body.libertos main{
  margin: 2vw;
}

body.libertos h1 {
  text-align: center;
  background-color: #F0B478;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}

body.libertos img {
  width: 50%;
  height: auto;
  border-radius: 6vw;
  padding: 2vw;
}

body.libertos section.explicacao{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}



/* === Escravos === */

body.escravos {
  text-align: center;
  background-color: #F0B4787F;
  background-image: url("/img/escravos.jpg");
  background-size: cover;
  background-blend-mode: screen;
}

body.homens-livres main{
  margin: 2vw;
}

body.escravos h1 {
  text-align: center;
  background-color: #F0B478;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}

body.escravos img {
  width: 50%;
  height: auto;
  border-radius: 6vw;
  padding: 2vw;
}

body.escravos section.explicacao{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
}



/* === Quiz === */

body.quiz {
  text-align: center;
  background-color: #F0B4789F;
  background-image: url("/img/filosofo (quiz).jpg");
  background-size: cover;
  background-blend-mode: screen;
}

body.quiz main{
  margin: 2vw;
}

body.quiz h1 {
  text-align: center;
  background-color: #F0B478;
  padding: 2vw 1vw 2vw 1vw ;
  margin: 1.5vw 0 0 0 ;
  border-radius: 2vw;
  font-size: 3rem;
}

body.quiz img {
  width: 50%;
  height: auto;
  border-radius: 6vw;
  padding: 2vw;
}

body.quiz section.banner{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
  display: inline-block;
}

body.quiz section.quiz2{
  text-align: center;  
  background-size: cover;
  padding: 2vw;
  margin: 3vw;
  border-radius: 2vw;
  display: inline-block;
}

section.quiz2{
  background-color: #F0B478;
}

.card-pergunta {
  background: #F0B478;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.enunciado {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333333;
}

.alternativas-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.opcao-label {
  display: flex;
  align-items: center;
  color: white;
  background-color: #a8600f ;
  gap: 2vw;
  padding: 2vw;
  border-radius: 20vw;
  cursor: pointer;
  transition: background 0.25s;
}

.opcao-label:hover {
  color: #ffffff;
  background-color: #aaaaaa;
  border: 0.5vw solid #303030;
}

button#btn-enviar {
  padding: 12px 24px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

button#btn-enviar:hover {
  background-color: #45a049;
}

#resultado {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}



/* === Criadores === */

body.criadores{
  background-color: #F6E3CF;
}

body.criadores h1{
  padding: 5vw 0;
  text-align: center;
}

body.criadores li{
  display: flex;
  gap: 1.5vw;
}

body.criadores img{
  height: 30vw;
  padding: 1.5vw 0;
}

body.criadores section{
  padding: 3vw;
}
